# Document
*.pdf
*.txt
~$*

# Directory
Quartus
RTL/work
RTL_TA_example/work
RTL_TA_example/*.sv
RTL_TA_example/*/*.dat
RTL/*.vo
RTL/*.sdo
Doc
Parallel_Test

# ModelSim
vsim.wlf
*.mpf
*.mti
*.csd
*.vstf

# Quartus
*.qpf
*.qsf
*.xml
*.bak